<html>
	<head>
		<title>ABS Price Ticker</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<h1>ABS (Absolute Coin)</h1>
		<div id="gvxprice">
			<h2>{{ exchange }}</h2>
			<h1 v-if="price.last>0" style="color:green;margin-bottom:0">{{ formatNum(price.last,8) }} BTC</h1>			
			<h1 v-if="price.last<0" style="color:red;margin-bottom:0">{{ formatNum(price.last,8) }} BTC</h1>
			<div style="font-size 0.2em">${{ formatNum(fiat,2) }} | MN Value : ${{ formatNum(fiat*1000,2) }}</div>
			<span style="color:green">Buy</span> {{ formatNum(price.buy,8) }} BTC | <span style="color:red">Sell</span> {{ formatNum(price.sell,8) }} BTC
			<h3>{{ timestamp }}</h3>
			
		</div>
		<script>
			var gvx = new Vue({
				el: '#gvxprice',
				data: {
					exchange: 'Graviex',
					message: 'xxx BTC',
					price: [],
					fiat: 0,
					usd: null,
					timestamp: null
				},
				methods: {
					formatNum(value,dec) {
						let val = (value/1).toFixed(dec).replace('.', ',')
						return val.toString().replace(/\B(?=(\d{})+(?!\d))/g, ".")
					}
				},
				mounted(){
					var self = this;
					var price=0;
					$.getJSON('https://graviex.net/api/v2/tickers/absbtc.json', function(data) {
							self.price = data.ticker;
							var date = new Date(data.at*1000);
							var hours = date.getHours();
							var minutes = "0" + date.getMinutes();
							var seconds = "0" + date.getSeconds();
							self.timestamp = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
							price=data.ticker.last;
						})
						$.getJSON('https://cex.io/api/last_price/BTC/USD', function(data) {
							self.fiat = price*data.lprice;
						})
					setInterval(function() {
						$.getJSON('https://graviex.net/api/v2/tickers/absbtc.json', function(data) {
							self.price = data.ticker;
							var date = new Date(data.at*1000);
							var hours = date.getHours();
							var minutes = "0" + date.getMinutes();
							var seconds = "0" + date.getSeconds();
							self.timestamp = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
							price=data.ticker.last;
						})
						$.getJSON('https://cex.io/api/last_price/BTC/USD', function(data) {
							self.fiat = price*data.lprice;
						})
					 },10000)
				}
			});
		</script>
	</body>
</html>
	